body{
    background-color: rgb(8,25,33);
}
.head{
    
    font-size: 35px;


}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(8,25,33);
    padding: 0!important;
    color: white;
}
.grid-item {
    background-color: rgb(12,39,53);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .item1 {
      background-color: crimson;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .item2{
    grid-column: 4;
    grid-row: 3 / 5;
  }
