body{
    background-color: rgb(8,25,33);
}
.head{
    
    font-size: 35px;
    height: 150px;


}
.grid-container {
    display: grid;
    grid-template-columns: 172px 172px 172px;

    background-color: rgb(8,25,33);
    padding: 0!important;
    color: white;
    
}
.grid-item {
    height: 100px;
    background-color: rgb(12,39,53);
    background-color: transparent;
    border: 1px solid rgb(182, 199, 27);
    padding: 20px;
    font-size: 30px;
    text-align: center; 
  }
  #item1{
    border-top: none;
    border-left: none;
  }
  #item4{
  
    border-left: none;
  }
  #item7{
    border-bottom: none;
    border-left: none;
  }
  #item2{
    border-top: none;
    
  }
  #item3{
    border-top: none;
    border-right: none;
  }
  #item6{
 
    border-right: none;
  }
  #item9{
    border-bottom: none;
    border-right: none;
  }
  #item8{
    border-bottom: none;
    
  }
  .grid-item:hover{
    box-shadow: 0 0 0 0.2rem rgba(16, 238, 46, 0.25);
    
  }
